\documentclass[dvipsnames]{standalone}
\usepackage{tikz}

\pgfdeclarelayer{bg}
\pgfsetlayers{bg,main}

\begin{document}

    \begin{tikzpicture}[
        scale=10,
        coupler/.style={draw},
        internal/.style={color=RoyalBlue, ultra thin},
        external/.style={color=Tan, thin},
        odd/.style={color=red, thick},
        qubit/.style={circle,thick, fill=White,draw=darkgray,minimum size=0.75mm, inner sep=0cm, outer sep=0cm}
    ]

    {% for node, position in nodes.items() -%}
        \node[qubit] ({{ node }}) at {{ position }} {};
    {% endfor -%}

        \begin{pgfonlayer}{bg}
        {% for n1, n2, type in edges -%}
            \path[coupler,{{type}}] ({{ n1 }}) -- ({{ n2 }});
        {%  endfor -%}
        \end{pgfonlayer}
    \end{tikzpicture}

\end{document}