{% extends "base.jinja2" %}

{% block extrastyles -%}
        internal/.style={color=RoyalBlue, thick},
        external/.style={color=Tan, thick},
        odd/.style={color=red, thick},
{%-  endblock %}
