{% extends "base.jinja2" %}

{% block extrastyles -%}
        odd/.style={color=RoyalBlue, thin},
        internal/.style={color=Tan, thin},
        external/.style={color=red, thick},
{%-  endblock %}
